/Project_1_ADC_Ultrasonic_Sensor.X/build/XC32_PIC32MX460F512L/
/Project_1_ADC_Ultrasonic_Sensor.X/build/default/
/Project_1_ADC_Ultrasonic_Sensor.X/dist/default/
/Project_1_ADC_Ultrasonic_Sensor.X/nbproject/private/